.team {
    padding-top: 80px;
    padding-bottom: 80px;
}

.team-img img {
    max-width: 100%;
    border-radius: 50%;
    width: 175px;
    margin: 0 auto;
    filter: grayscale(100%);
}

.member-name {
    padding-top: 20px;
}

.member-name a {
    color: #000116;
    font-family: VerbExtrabold, helvetica, arial, sans-serif;
}

.member-name a:hover {
    color: #afca0b;
    text-decoration: none;
}

a {
    font-family: 'VerbRegular', helvetica, arial, sans-serif;
    color: rgba(2, 112, 224, 1.0);
    cursor: pointer;
    transition: all .15s linear;
}

.team-box-inner {
    text-align: center;
}

.member-desigantion {
    padding-top: 4px;
}

.member-address {
    padding-top: 6px;
    font-style: italic;
}

.social-icons {
    padding-top: 8px;
}


h5 {
    font-family: 'VerbExtrabold', helvetica, arial, sans-serif;
    font-size: 17px;
    color: #fff;
    line-height: 1.52;
    font-weight: 400;
}

.filters .dropdown {
    margin-right: 10px;

}

#quicksearch {
    background-color: #000116;
    border: 2px solid #fff;
    color: #fff;
    padding: 6.5px 0.75rem;
    width: 100%;
    max-width: 100%;
    outline: none !important;
    line-height: 1;
}

.team-bg-img {
    width: 284px;
    height: 284px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.team-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



@media screen and (min-width: 992px) {
    .team-single .right {
        padding-left: 80px;
    }
}

.profile-title-in h1 {
    text-transform: uppercase;
}

h1 {
    color: #000116;
    font-family: 'VerbExtrabold', helvetica, arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
}

h1,
h2 {
    line-height: 1.2;
}

h6 {
    color: #000116;
    font-family: 'VerbExtrabold', helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

h5,
h6 {
    line-height: 1.5;
}

.team-profile-con h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

p {
    font-family: 'VerbRegular', helvetica, arial, sans-serif;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.expertise {
    padding: 80px 0;
    background-color: #000116;
    color: #ffffff;
    margin-bottom: 200px;
}

.expertise h6 {
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    .expertise img {
        width: 103px;
    }
}

.team-profile-con ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}